# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/

# Environment variables
.env

# Django
media/
db.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
*.log

# Python egg
*.egg-info/
