<header>
  <nav [class.scrolled]="navScrolled">
    <a [routerLink]="['/']" class="logo">
      Velocity<span>Rentals</span>
    </a>

    <div class="nav-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/cars">Cars</a>
      <a routerLink="/service">Services</a>

      <a *ngIf="enableScrollEffect" href="#about-section">About</a>
      <a *ngIf="enableScrollEffect" href="#contact-section">Contact</a>

      <a *ngIf="!enableScrollEffect">About</a>
      <a *ngIf="!enableScrollEffect">Contact</a>

      <a *ngIf="!(authService.isLoggedIn$ | async)"
        routerLink="/login"
        class="cta-button">Log In</a>

      <a *ngIf="authService.isLoggedIn$ | async"
        routerLink="/profile"
        class="cta-button">My Profile</a>
    </div>
  </nav>
</header>
